.address-book {
  display: flex;
  align-items: center;
  width: 50px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  color: #566573;
  line-height: 43px;
}

.description {
  color: #c3c3c3;
  font-weight: 700;
  font-size: 14px;
}
